</main>

<footer>
    <!-- Step 4 - Add a dynamic year to the footer using JS. -->
    <p>Copyright © <%= new Date().getFullYear() %></p>
</footer>
<!-- <script>
    const myFunc = function () {
        alert("hello");
    };

    // Add other client-side JavaScript here if needed
</script> -->
</body>

</html>