<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
        <!-- Add the link to the CSS stylesheet here -->
        <!-- Hint: the link is relative to the public folder -->
        <title>Todo List</title>
    </head>

    <body>
        <main>
            <div class="logoHeader">
                <img src="styles/wave-logo.svg">
                <h1><%= header %></h1>
            </div>